.navBar {
    background: rgb(141, 146, 141);
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navBar img {
    height: 120px;
}

/*above styles good*/

.largeText {
    height: 2000px;
    margin-top: 125px;
}